.paralaje {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.paralaje {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.por-mr {
  color: white;
  font-size: 0.8rem;
  position: absolute;
  top: 5rem;
  right: 10rem;
  z-index: 1;
}

.parallax {
  background-image: url("../img/Fondo-pantalla-para-1entrega-js.webp"); /* Cambia 'tu-imagen.jpg' por la URL de tu imagen de fondo */
  opacity: 90%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.parallax-content {
  transform: translateY(5%);
}

h1,
span {
  color: rgb(63, 63, 63);
  background-color: #df4;
}

span {
  font-size: 1.5rem;
}

.content {
  padding: 40px;
  text-align: center;
}

.start-button {
  font-size: 1.8rem;
  color: rgb(63, 63, 63);
  background-color: #df4;
}
